streamlit
#to make building custom web apps easier


moviepy
#to extract audio from local video files

openai-whisper
#transcription of the audio file

ffmpeg-python
#to build and execute FFmpeg commands 
#for easier multimedia processing

torch
torchvision
torchaudio